*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Prompt', sans-serif;
}

:root{
    font-family: 'Prompt', sans-serif;
    --hmain: 100vh;
    --tmainXL: 4.5rem;
    --tmainL: 4rem;
    --tmainM: 3.5rem;
    --tmainS: 2.25rem;
    --pmain: 1.5rem;
    --pmainS: 1.125rem;
    --pbtnXL: 1.25rem;
    --pbtn: 1.125rem;
    --pbtnS: 1rem;
    --titles: 2.75rem;
    --titlesS: 1.75rem;
    --titleCard: 1.875rem;
    --titleCardS: 1.5rem;
    --pcard: 1rem;
    --pscard: 0.875rem;
    --fooXL: 1.25rem;
    --fooM: 1.125rem;
    --pfoo: 1rem;
}

body{
    width: 100%;
    background: linear-gradient(222.26deg, rgba(255, 215, 138, 0.2) 0%, rgba(34, 34, 34, 0) 18.14%), linear-gradient(179.99deg, rgba(251, 252, 255, 0) 14.27%, #FFFFFF 26.88%), linear-gradient(40.71deg, #ADA5FD 50.16%, #9BD5ED 142.82%);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 calc(var(--hmain)*.03);
    height: calc(var(--hmain)*.1);
}

header img{
    height: calc(var(--hmain)*.05);
}

header nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
}


header nav i img {
    height: calc(var(--hmain)*.03);
    width: calc(var(--hmain)*.03);
}

main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
    height: calc(var(--hmain)*.9);
}

.articleLeft {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
}

.articleLeft div {
    display: flex;
    flex-direction: column;
    width: 100%;
}


.articleLeft h2 {
    background: linear-gradient(270deg, #3468D3 15.33%, #5932C9 101.88%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    background-size:400% 400%;
    font-size: calc(var(--tmainXL));
    line-height: calc(var(--tmainXL)*1.2);
    -webkit-animation:change 4s ease infinite;
    animation:change 4s ease infinite;
    padding: calc(var(--tmainXL)*.3) 0px;
}

.articleLeft h1{
    font-weight: 500;
    font-size: calc(var(--pmain));
    margin-bottom: calc(var(--pmain));
}

.button{
    background: linear-gradient(90deg, #3765D3,#5934CA);
    padding: calc(var(--pbtnXL)*.6) calc(var(--pbtnXL)*2);
    font-weight: 500;
    color: #ffffff;
    font-size: calc(var(--pbtnXL));
    border-radius: calc(var(--pbtnXL)*.6);
    border: none;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
    transition: 0.25s;
}

.articleRight {
    display: flex;
    justify-content: center;
    height: 100%;
}

.articleRight img {
    width: calc(var(--hmain)*.58);
    height: calc(var(--hmain)*.58);
    margin: calc(var(--hmain)*.1) 0%;
}

/* --- second scheme --- */

.groupCards {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.groupCards .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    padding-bottom: calc(var(--hmain)*.06);
}


.title h2, .social h2, .clients h2 {
    background: linear-gradient(270.97deg, #0085FF 1.08%, #4B2EFF 77.04%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
    background-size:400% 400%;
    font-size: calc(var(--titles));
    padding-bottom: calc(var(--titles)*.5);
    -webkit-animation:change 4s ease infinite;
    animation:change 4s ease infinite;
}

.title p, .social p, .clients p {
    font-size: calc(var(--pmain));
    font-weight: 500;

}

.gcards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: calc(var(--hmain)*.075);
    margin-bottom: calc(var(--hmain)*.15);
    padding: 0% 5%;
}

.card {
    color: #000000;
    display: flex;
    flex-direction: column;
    border-radius: calc(var(--hmain)*.04);
    justify-content: center;
    align-items:center;
    width: calc(var(--hmain)*.48);
    height: calc(var(--hmain)*.62);
    padding: 0% calc(var(--hmain)*.03);
    box-shadow: 0px 0px calc(var(--hmain)*.05) rgba(0, 0, 0, 0.25);
    transition: 0.25s;
    background: #FFFFFF;
}

.card img {
    height: calc(var(--hmain)*.33);
    width: calc(var(--hmain)*.33);
}


.card h3 {
    font-weight: 600;
    font-size: calc(var(--titleCard));
    margin: 10% 0% 10% 0%;
}

.card p {
    font-weight: 400;
    font-size: calc(var(--pscard));
    text-align: center;
}



    /* --- Third scheme --- */

.clients{
    padding: 0 10%;
}

.clients div {
    margin-bottom: calc(var(--hmain)*.06);
}

.clients .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: calc(var(--hmain)*.06);

}

.groupClients{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: calc(var(--hmain)*.075);
    margin-bottom: calc(var(--hmain)*.1);
}

.cardClient {
    height: calc(var(--hmain)*.26);
    width: calc(var(--hmain)*.455);
    box-shadow: 0px 0px calc(var(--hmain)*.05) rgba(0, 0, 0, 0.25);
    border-radius: calc(var(--hmain)*.04);
    display: flex;
    transition: 0.25s;
}


    /* --- Fourth scheme --- */


.social{
    margin: 5% 8%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.social .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: calc(var(--hmain)*.06);

}

.groupSocial {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: calc(var(--hmain)*.063);
}

.cardSocial {
    width: calc(var(--hmain)*.34);
    height: calc(var(--hmain)*.42);
    box-shadow: 0px 0px calc(var(--hmain)*.05) rgba(0, 0, 0, 0.25);
    border-radius: calc(var(--hmain)*.04);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.25s;
    padding: 0% 3%;
}

.cardSocial img {
    width: calc(var(--hmain)*.12);
    height: calc(var(--hmain)*.12);
    border-radius: 15%;
}

.cardSocial h3{
    font-weight: 600;
    font-size: calc(var(--titleCard));
    margin : calc(var(--titleCard)) 0;
}

.cardSocial p{
    font-weight: 500;
    font-size: calc(var(--pscard));
    text-align: center;
}

.cardSocial:first-child{
    color: #1DA1F2;
}

.cardSocial:nth-child(2){
    color: #7289DA;
}

.cardSocial:nth-child(3){
    color: #0088CC;
}

.cardSocial:last-child{
    color: #000000;
}

    /* --- Footer scheme --- */

footer {
    display: flex;
    background: #C0C1FF;
    margin-top: calc(var(--hmain)*0.23);
    padding: calc(var(--hmain)*.032) calc(var(--hmain)*.032);
}

footer .foot{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: flex-start;
}


footer article {
    width: 30%;
    height: 100%;
}

.logoFooter{
    display: flex;
    flex-direction: column;
}

.logoFooter img{
    height: calc(var(--pfoo)*3.15);
    width: calc(var(--pfoo)*12);
}

.logoFooter p, .rights p {
    
    font-size: calc(var(--pfoo));
    font-weight: 500;
    margin-top: calc(var(--pfoo)*.5);
}

footer nav {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: space-around;
}

footer h4 {
    font-weight: 700;
    font-size: calc(var(--fooXL));
    margin-bottom: calc(var(--fooXL));
    color: #000000;
}

footer li {
    font-size: calc(var(--fooXL));
    font-weight: 600;
    margin-bottom: calc(var(--fooXL));
    color: #000000;
    transition: 0.15s;
}

footer section {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

footer .icons{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.icons {
    gap:calc(var(--hmain)*.03)
}

.icons i{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.icons img {
    height: calc(var(--hmain)*.03);
    width: calc(var(--hmain)*.03);
}

footer i{
    transition: 0.15s;
}

footer .rights{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-top: calc(var(--pfoo)*.5);
}

        /* --- Interactive --- */

        .switch:hover{
            cursor: pointer;
        }
        
        .button:hover{
            cursor: pointer;
            scale: 1.1;
        }
        
        .card:hover{
            scale: 1.05;
        }
        
        .cardClient:hover{
            cursor: pointer;
            scale: 1.05;
        }
        
        .cardSocial:hover{
            cursor: pointer;
            scale: 1.05;
        }
        
        footer li:hover{
            cursor: pointer;
            color: #0085FF;
        }
        
        footer i:hover{
            cursor: pointer;
            scale: 1.1;
        }
        
        
                /* --- Animation --- */
        
        @-webkit-keyframes change{
            0%{background-position:0% 50%;}
            50%{background-position:100% 50%;}
            100%{background-position:0% 50%;}
        }
            
        @keyframes change{
            0%{background-position:0% 50%;}
            50%{background-position:100% 50%;}
            100%{background-position:0% 50%;}
        }




/* --- Medias Queries--- */

@media (min-width: 2000px) and (orientation: landscape){

    .articleLeft h2 {
        font-size: calc(var(--hmain)*.07);
        line-height: calc(var(--hmain)*.07);
        padding: calc(var(--hmain)*.035) 0px;
    }
    
    .articleLeft h1{
        font-size: calc(var(--hmain)*.035);
        margin-bottom: calc(var(--hmain)*.035);
    }
    
    .button{
        padding: calc(var(--hmain)*.02) calc(var(--hmain)*.06);
        font-size: calc(var(--hmain)*.024);
        border-radius: calc(var(--hmain)*.02);
    }

    .title h2, .social h2, .clients h2 {
        font-size: calc(var(--hmain)*.042);
        padding-bottom: calc(var(--hmain)*.021);
    }
    
    .title p, .social p, .clients p {
        font-size: calc(var(--hmain)*.024);
    }

    .card h3 {
            font-size: calc(var(--hmain)*.035);
    }
        
    .card p {
        font-size: calc(var(--hmain)*.02);
    }
        
    .cardSocial h3{
        font-size: calc(var(--hmain)*.035);
        margin-top: calc(var(--hmain)*.035);
        margin-bottom: calc(var(--hmain)*.035);
    }
    
    .cardSocial p{
        font-size: calc(var(--hmain)*.018);
    }

    .logoFooter img{
        height: calc(var(--hmain)*.05);
        width: calc(var(--hmain)*.19);
    }
    
    .logoFooter p, .rights p {
        
        font-size: calc(var(--hmain)*.02);
        margin-top: calc(var(--hmain)*.01);
    }

    footer h4 {
        font-size: calc(var(--hmain)*.022);
        margin-bottom: calc(var(--hmain)*.022);
    }
    
    footer li {
        font-size: calc(var(--hmain)*.022);
        margin-bottom: calc(var(--hmain)*.022);
    }

    footer .rights{
        margin-top: calc(var(--hmain)*.025);
    }

}


/* 1 L  */

@media (max-width: 1888px) and (orientation: landscape){

    .articleLeft h2 {
        font-size: calc(var(--tmainL));
        line-height: calc(var(--tmainL)*1.2);
        padding: calc(var(--tmainL)*.3) 0px;
    }



}

/* 1 M  */

@media (max-width: 1500px) and (orientation: landscape){

    .articleLeft h2 {
        font-size: calc(var(--tmainM));
        line-height: calc(var(--tmainM)*1.2);
        padding: calc(var(--tmainM)*.3) 0px;
    }

    .button{
        padding: calc(var(--pbtn)*.6) calc(var(--pbtn)*2);
        font-size: calc(var(--pbtn));
        border-radius: calc(var(--pbtn)*.6);
    }


}

/* 2 */

@media (max-width: 1367px) and (orientation: landscape){


    footer {
        flex-direction: column;
    }
    footer section .rights{
        align-items: flex-start;
    }

    footer .icons{
        justify-content: flex-start;
    }

    footer h4 {
        font-size: calc(var(--fooM));
        margin-bottom: calc(var(--fooM));
    }
    
    footer li {
        font-size: calc(var(--pfoo));
        margin-bottom: calc(var(--pfoo));
    }

}

/* 3  */

@media (max-width: 1023px) and (orientation: landscape){

    .hidden {
        display: none;
    }

    .articleLeft {
        width: 100%;
    }
}

/* 4 Mobile Landscape */

@media (max-width: 1023px) and (orientation: landscape) and (max-height: 600px){

    .hidden {
        display: inline-block;
    }

    .articleLeft {
        width: 60%;
    }

    .articleLeft h2 {
        font-size: calc(var(--tmainS));
        line-height: calc(var(--tmainS)*1.2);
    }

    .articleLeft h1 {
        font-size: calc(var(--pmainS));
    }

    .button{
        padding: calc(var(--pbtnS)*.6) calc(var(--pbtnS)*2);
        font-size: calc(var(--pbtnS));
        border-radius: calc(var(--pbtnS)*.6);
    }

    .title h2, .clients h2, .social h2{

        font-size: calc(var(--titlesS));
    }
    
    .title p, .clients p, .social p{
        font-size: calc(var(--pmainS));
        text-align: center;

    }

    .card {
        width: calc(var(--hmain)*.72);
        height: calc(var(--hmain)*.93);
    }

    .card img {
        height: calc(var(--hmain)*.33);
        width: calc(var(--hmain)*.33);
    }
    
    .card h3 {
        font-size: calc(var(--titleCardS));
    }

    .card p {
        font-size: calc(var(--pscard));
    }

    .groupClients{
        gap: calc(var(--hmain)*.15);
    }
    
    .cardClient {
        height: calc(var(--hmain)*.39);
        width: calc(var(--hmain)*.68);
        border-radius: calc(var(--hmain)*.06);
    }

    .groupSocial {
        gap: calc(var(--hmain)*.15);
    }

    .cardSocial {
        width: calc(var(--hmain)*.6);
        height: calc(var(--hmain)*.75);
    }

    .cardSocial h3{
        font-size: calc(var(--titleCardS));
        margin-top: calc(var(--titleCardS));
        margin-bottom: calc(var(--titleCardS));
    }

    .cardSocial p{
        font-size: calc(var(--pscard));
    }

    .cardSocial img {
        width: calc(var(--hmain)*.15);
        height: calc(var(--hmain)*.15);
    }

    footer {
        flex-direction: column;
        padding: 0% calc(var(--hmain)*.03);
        align-items: center;
    }

    footer .foot{
        flex-direction: column;
        padding-top: calc(var(--pfoo)*1.5);
    }


    footer article {
        width: 100%;
    }

    .logoFooter{
        
        justify-content: center;
        align-items: center;
    
    }

    footer nav {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: calc(var(--fooM));

    }

    footer ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: calc(var(--fooM)) 0;
    }
    footer section {
        width: 100%;
        padding-left: calc(var(--hmain)*.027);
        padding: 0px calc(var(--hmain)*.014);
        padding-bottom: calc(var(--fooM));
    }

    footer h4 {
        font-size: calc(var(--fooM));
        margin-bottom: calc(var(--fooM));
    }
    
    footer li {
        font-size: calc(var(--pfoo));
        margin-bottom: calc(var(--pfoo));
    }

    .icons{
        gap: calc(var(--hmain)*.055);
    }
    .icons img {
        height: calc(var(--hmain)*.055);
        width: calc(var(--hmain)*.055);
    }

    footer .rights p{
        align-self: center;
    }

    footer .icons{
        justify-content: center;
    }

}

/* 5  */

@media (max-width: 1044px) and (orientation: portrait) {

    header {
        margin: 0 calc(var(--hmain)*.03);
    }

    .hidden {
        display: none;
    }

    .articleLeft {
        width: 100%;
    }

    .articleLeft h2 {
        text-align: center;
        font-size: calc(var(--tmainM));
        line-height: calc(var(--tmainM)*1.2);
    }

    .articleLeft h1{
        text-align: center;
    }

    .articleLeft div {
        align-items: center;
        padding-bottom: calc(var(--hmain)*.05);
    }

    .title h2, .clients h2, .social h2{

        font-size: calc(var(--tmainS));
        text-align: center;

    }
    
    .title p, .clients p, .social p{
        font-size: calc(var(--pmainS));
        text-align: center;

    }
    .card {
        width: calc(var(--hmain)*.38);
        height: calc(var(--hmain)*.49);
        box-shadow: 0px 0px calc(var(--hmain)*.025) rgba(0, 0, 0, 0.25);
    }

    .card img {
        height: calc(var(--hmain)*.24);
        width: calc(var(--hmain)*.24);
    }
    .card h3 {
        font-size: calc(var(--titleCardS));
    }

    .card p {
        font-size: calc(var(--pscard));
    }

    .cardSocial {
        width: calc(var(--hmain)*.34);
        height: calc(var(--hmain)*.4);
        padding: 0% 10%;
        box-shadow: 0px 0px calc(var(--hmain)*.025) rgba(0, 0, 0, 0.25);
    }

    .cardSocial h3{
        font-size: calc(var(--titleCardS));
        margin: 60px 0;
    }

    .cardSocial p{
        font-size: calc(var(--pscard));
    }

    .cardClient {
        height: calc(var(--hmain)*.21);
        width: calc(var(--hmain)*.37);
        box-shadow: 0px 0px calc(var(--hmain)*.025) rgba(0, 0, 0, 0.25);
    }

    footer {
        flex-direction: column;
        padding: 0% calc(var(--hmain)*.03);
        align-items: center;
    }

    footer .foot{
        flex-direction: column;
        padding-top: calc(var(--pfoo)*1.5);
    }


    footer article {
        width: 100%;
    }

    .logoFooter{
        
        justify-content: center;
        align-items: center;
    }

    footer nav {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: calc(var(--fooM));

    }

    footer ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: calc(var(--fooM)) 0;
    }
    footer section {
        width: 100%;
        padding-left: calc(var(--hmain)*.027);
        padding: 0px calc(var(--hmain)*.014);
        padding-bottom: calc(var(--fooM));
    }

    footer .rights{
        align-items: center;
    }
    footer .icons{
        justify-content: center;
    }

    footer h4 {
        font-size: calc(var(--fooM));
        margin-bottom: calc(var(--fooM));
    }
    
    footer li {
        font-size: calc(var(--pfoo));
        margin-bottom: calc(var(--pfoo));
    }

}

@media (max-width: 600px) and (orientation: portrait){

    .articleLeft h2 {
        font-size: calc(var(--tmainS));
        line-height: calc(var(--tmainS)*1.2);
    }

    .articleLeft h1 {
        font-size: calc(var(--pmainS));
    }

    .button{
        padding: calc(var(--pbtnS)*.6) calc(var(--pbtnS)*2);
        font-size: calc(var(--pbtnS));
        border-radius: calc(var(--pbtnS)*.6);
    }

    .title h2, .clients h2, .social h2{

        font-size: calc(var(--titlesS));
    }

    .cardSocial {
        width: calc(var(--hmain)*.36);
        height: calc(var(--hmain)*.44);
    }

    .cardSocial h3{
        margin: 40px 0;
    }

}
