*{
    box-sizing: border-box;
    margin: 0;
    text-decoration: none;
}


body{
    font-family: 'Prompt', sans-serif;
    width: 100vw;
    background: linear-gradient(222.26deg, rgba(255, 215, 138, 0.2) 0%, rgba(34, 34, 34, 0) 18.14%), linear-gradient(179.99deg, rgba(251, 252, 255, 0) 14.27%, #FFFFFF 26.88%), linear-gradient(40.71deg, #ADA5FD 50.16%, #9BD5ED 142.82%);
}

.main {
    --hmain: 100vh;

}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 2.5%;
    height: calc(var(--hmain)*.1);
}

header img{
    height: calc(var(--hmain)*.07);
}

header nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
}


header nav i img {
    height: calc(var(--hmain)*.05);
    width: calc(var(--hmain)*.05);
}

main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 10%;
    height: calc(var(--hmain)*.9);
}

.articleLeft {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 57%;
}

.articleLeft div {
    width: 100%;
}

.articleLeft h2 {
    background: linear-gradient(-90deg, #3468D3,#5932c9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    font-size: calc(var(--hmain)*.07);

}
.articleLeft h1{
    font-weight: 500;
    font-size: calc(var(--hmain)*.035);
    margin: calc(var(--hmain)*.035) 0;
}

.button{
    background: linear-gradient(90deg, #3765D3,#5934CA);
    padding: calc(var(--hmain)*.02) calc(var(--hmain)*.06);
    font-weight: 600;
    color: #ffffff;
    font-size: calc(var(--hmain)*.023);
    border-radius: calc(var(--hmain)*.02);
    border: none;
    box-shadow: -0.5px 0.5px 10px 2.5px rgba(0, 0, 0, 0.25);
}

.articleRight {
    width: 38%;
    display: flex;
    justify-content: center;
    height: 100%;
}

.articleRight img {
    width: calc(var(--hmain)*.56);
    height: calc(var(--hmain)*.56);
    margin: calc(var(--hmain)*.1) 0%;
}

/* --- second scheme --- */

.groupCards {
    --hgCards: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.groupCards .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: calc(var(--hgCards)*.2);
    margin-bottom: calc(var(--hgCards)*.06);
}


.title h2, .social h2 {
    background: linear-gradient(90deg, #4B2EFF 5%, #0085FF 95%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
    font-size: calc(var(--hgCards)*.052);
    margin-bottom: calc(var(--hgCards)*.026);
}

.title p, .social p {
    font-size: calc(var(--hgCards)*.03);
    font-weight: 500;
    margin-bottom: calc(var(--hgCards)*.015);
}

.gcards {
    display: flex;
    flex-wrap: wrap;
    width: 76%;
    justify-content: space-around;
    align-items: center;
    margin-bottom: calc(var(--hgCards)*.12);

}

.card {
    color: #000000;
    display: flex;
    flex-direction: column;
    border-radius: calc(var(--hgCards)*.05);
    justify-content: center;
    align-items:center;
    margin-bottom: calc(var(--hgCards)*.05);
    width: calc(var(--hgCards)*.5);
    height: calc(var(--hgCards)*.63);
    padding: 0% calc(var(--hgCards)*.03);
    box-shadow: -1px 1px 20px 5px rgba(0, 0, 0, 0.25);
}

.card img {
    height: calc(var(--hgCards)*.33);
    width: calc(var(--hgCards)*.33);
}


.card h3 {
    font-weight: 600;
    font-size: calc(var(--hgCards)*.04);
    margin: 10% 0% 10% 0%;
}

.card p {
    font-weight: 400;
    font-size: calc(var(--hgCards)*.018);
}



    /* --- Third scheme --- */

.clients{
    --hclients: 70vh;
    margin: 0% 12%;
}

.clients div {
    margin-bottom: calc(var(--hclients)*.068);
}

.clients h2 {
    background: linear-gradient(#4B2EFF 5%, #0085FF 95%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
    font-size: calc(var(--hclients)*.06);
    margin-bottom: calc(var(--hclients)*.03);
}

.clients p {
    font-size: calc(var(--hclients)*.035);
    font-weight: 500;
}


.groupClients{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-items: center;
}

.cardClient {
    height: calc(var(--hclients)*.32);
    width: calc(var(--hclients)*.56);
    box-shadow: -1px 1px 20px 5px rgba(0, 0, 0, 0.25);
    border-radius: calc(var(--hclients)*.045);
    display: flex;
    margin-right: calc(var(--hclients)*.07);
    margin-left: calc(var(--hclients)*.07);
    margin-bottom: calc(var(--hclients)*.06);
}


    /* --- Fourth scheme --- */


.social{
    --hsocial: 75vh;
    margin: 5% 12%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.social .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: calc(var(--hsocial)*.06)

}


.social h2 {
    background: linear-gradient(90deg, #4B2EFF 5%, #0085FF 95%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
    font-size: calc(var(--hsocial)*.056);
    margin-bottom: calc(var(--hsocial)*.028);
}

.social p {
    font-size: calc(var(--hsocial)*.03);
    font-weight: 500;
}


.groupSocial {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.cardSocial {
    width: calc(var(--hsocial)*.4);
    height: calc(var(--hsocial)*.47);
    box-shadow: -1px 1px 20px 5px rgba(0, 0, 0, 0.25);
    border-radius: calc(var(--hsocial)*.04);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: calc(var(--hsocial)*.06)

}

.cardSocial img {
    width: calc(var(--hsocial)*.14);
    height: calc(var(--hsocial)*.14);
    border-radius: 15%;
}

.cardSocial h3{
    font-weight: 600;
    font-size: calc(var(--hsocial)*.036);
    margin-top: calc(var(--hsocial)*.06);
    margin-bottom: calc(var(--hsocial)*.04);
}

.cardSocial p{
    font-weight: 500;
    font-size: calc(var(--hsocial)*.02);
}

.cardSocial:first-child{
    color: #1DA1F2;
}

.cardSocial:nth-child(2){
    color: #7289DA;
}

.cardSocial:nth-child(3){
    color: #0088CC;
}

.cardSocial:last-child{
    color: #000000;
}

    /* --- Footer scheme --- */

footer {
    height: 45vh;
    --hfooter: 45vh;
    background: #C0C1FF;
    margin-top: calc(var(--hfooter)*0.5);
}

footer .foot{
    display: flex;
    margin: 0% 2.5%;
    width: 95%;
    height: 100%;
    padding-top: calc(var(--hfooter)*.07);
    align-items: center;
}


footer article:first-child {
    width: 25%;
    height: 100%;
}

.logoFooter{
    display: flex;
    flex-direction: column;

}

.logoFooter img{
    height: calc(var(--hfooter)*.1);
    width: calc(var(--hfooter)*.4);
    margin-bottom: calc(var(--hfooter)*.05);
}

.logoFooter p, .rights p {
    
    font-size: calc(var(--hfooter)*.035);
    font-weight: 500;
    margin-top: calc(var(--hfooter)*.0175);
}

footer nav {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-around;
}

footer h4 {
    font-weight: 700;
    font-size: calc(var(--hfooter)*.04);
    margin-bottom: calc(var(--hfooter)*.05);
    color: #000000;
}

footer li {
    font-size: calc(var(--hfooter)*.04);
    font-weight: 600;
    margin-bottom: calc(var(--hfooter)*.05);
    color: #000000;
}

footer article:last-child {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

footer .icons{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.icons i{
    display: flex;
    justify-content: flex-end;
    margin-left: calc(var(--hfooter)*.06);
    align-items: center;
}

.icons img {
    height: calc(var(--hfooter)*.06);
    width: calc(var(--hfooter)*.06);
}

footer .rights{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-top: calc(var(--hfooter)*.06);
}









/* --- Medias Queries--- */

@media (max-width: 1023px) and (orientation: portrait) {

    header {
        padding: 0 calc(var(--hmain)*.03);
    }

    .hidden {
        display: none;
    }

    .articleLeft {
        width: 100%;
    }

    /* Footer Portrait Idem*/

    footer {
        height: 60vh;
    }


    footer .foot{
        flex-direction: column;
        padding: 0px calc(var(--hfooter)*.03);


    }

    footer article:first-child {
        width: 100%;
    }

    .logoFooter{
        
        justify-content: center;
        align-items: center;
        height: 100%;
    
    }

    footer nav {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: calc(var(--hfooter)*.06)

    }

    footer ul {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 100%;
        width: 33%;
    }

    footer article:last-child {
        width: 100%;
        margin-top: calc(var(--hfooter)*.03);
    }

}

@media (max-width: 950px) and (min-height: 700px) {

    .hidden {
        display: none;
    }

    .articleLeft {
        width: 100%;
    }
}



@media (max-width: 650px) and (orientation: portrait) {

    header {
        padding: 0 calc(var(--hmain)*.03);
    }

    .hidden {
        display: none;
    }

    .articleLeft {
        width: 100%;
    }
    

    .title h2{

        font-size: calc(var(--hgCards)*.045);

    }
    
    .title p{
        font-size: calc(var(--hgCards)*.025);

    }

    .articleLeft h2 {
        font-size: calc(var(--hmain)*.05);
    
    }
    .articleLeft h1{
        font-size: calc(var(--hmain)*.025);
    }
    


    .button{
        padding: calc(var(--hmain)*.005) calc(var(--hmain)*.04);
        font-size: calc(var(--hmain)*.016);
        border-radius: calc(var(--hmain)*.006);
    }

    .clients h2 {
        font-size: calc(var(--hclients)*.05);
    }
    
    .clients p {
        font-size: calc(var(--hclients)*.028);
    }


    .social h2 {
        font-size: calc(var(--hsocial)*.045);
    }
    
    .social p {
        font-size: calc(var(--hsocial)*.026);
    }
    

    .cardSocial p{
        font-size: calc(var(--hsocial)*.019);
    }

    footer {
        height: 60vh;
    }


    footer .foot{
        flex-direction: column;
        padding: 0px calc(var(--hfooter)*.03);

    }

    footer article:first-child {
        width: 100%;
    }

    .logoFooter{
        
        justify-content: center;
        align-items: center;
        height: 100%;
    
    }

    footer nav {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: calc(var(--hfooter)*.06);

    }

    footer ul {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 100%;
        width: 33%;
    }

    footer article:last-child {
        width: 100%;
        margin-top: calc(var(--hfooter)*.03);
    }



}












        /* --- Interactive --- */

.switch:hover{
    cursor: pointer;
}

.button:hover{
    cursor: pointer;
    scale: 1.1;
}

.card:hover{
    cursor: pointer;
    scale: 1.05;
}

.cardClient:hover{
    cursor: pointer;
    scale: 1.05;
}

.cardSocial:hover{
    cursor: pointer;
    scale: 1.05;
}

footer li:hover{
    cursor: pointer;
    color: #0085FF;
}

footer i:hover{
    cursor: pointer;
    scale: 1.1;
}