@use "./fontweight" as fonts;

$width-card-std: 240px;
$height-card-std: $width-card-std*1.13;
$border-card-std: $width-card-std*0.077;
$gap-std: $width-card-std*.15;
$box-shadow-std: 0px 0px $width-card-std*.15 rgba(0, 0, 0, 0.25);

$width-card-hd: $width-card-std*1.167;
$height-card-hd: $width-card-hd*1.13;
$border-card-hd: $width-card-hd*0.077;
$gap-hd: $width-card-hd*.15;
$box-shadow-hd: 0px 0px $width-card-hd*.15 rgba(0, 0, 0, 0.25);

$transition: 0.25s;

$image-std: $width-card-std*.3;
$image-hd: $width-card-hd*.3;


$font-pmin-std: 0.875rem;
$font-pmin-hd: 1rem;


$font-h3-std: 1.25rem;
$font-h3-hd: 1.5rem;


$primary-color: #000000;
$secundary-color: #ffffff;
$dark-color: #141B22;

$twitter: #1DA1F2;
$discord: #7289DA;
$telegram: #0088CC;
$medium-light: $primary-color;
$medium-dark: $secundary-color;

.social {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.groupSocial {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: $gap-std;
    @media (min-width: 1640px) and (orientation: landscape){
        gap: $gap-hd;
    }
    @media (max-width: 1200px) and (orientation: landscape){
        width: 599px;
    }
    @media (max-width: 600px) and (orientation: landscape){
        width: 280px;
    }
    @media (max-width: 1200px) and (orientation: portrait) {
        width: 599px;
    }
    @media (max-width: 600px) and (orientation: portrait){
        width: 280px;
    }

    .cardSocial{
        width: $width-card-std;
        height: $height-card-std;
        box-shadow: $box-shadow-std;
        border-radius: $border-card-std;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        padding: $font-h3-std $font-h3-std;
        transition: $transition;
        background-color: $secundary-color;
        &:first-child{
            color: $twitter;
            p{
                color: $twitter;
            }
        }
        &:nth-child(2){
            color: $discord;
            p{
                color: $discord;
            }
        }
        &:nth-child(3){
            color: $telegram;
            p{
                color: $telegram;
            }
        }
        &:last-child{
            color: $medium-light;
            p{
                color: $medium-light;
            }
        }
        &:hover{
            cursor: pointer;
            scale: 1.05;
        }
        @media (min-width: 1640px) and (orientation: landscape){
            width: $width-card-hd;
            height: $height-card-hd;
            box-shadow: $box-shadow-hd;
            border-radius: $border-card-hd;
            padding: $font-h3-hd $font-h3-hd;
        }
      }

    img {
        width: $image-std;
        height: $image-std;
        border-radius: 15%;
        @media (min-width: 1640px) and (orientation: landscape){
            width: $image-hd;
            height: $image-hd;
        }
    }

    h3 {
        font-size: $font-h3-std;
        font-weight: fonts.$font-weight-semibold;
        @media (min-width: 1640px) and (orientation: landscape){
            font-size: $font-h3-hd;
        }
     
    }

    p{
        font-weight: fonts.$font-weight-medium;
        text-align: center;
        font-size: $font-pmin-std;
        @media (min-width: 1640px) and (orientation: landscape){
            font-size: $font-pmin-hd;
        }
    }
}

body.dark{
    .cardSocial{
        background: $dark-color;
        &:last-child{
            color: $medium-dark;
            p{
                color: $medium-dark;
            }
        }
    }
}