@use "./fontweight" as fonts;
@use "./header" as header;

$height-std: calc(100vh - header.$height-min);


$font-h2-min: 2.25rem;
$font-h2-std: 3.5rem;
$font-h2-hd: 4.25rem;

$font-h1-min: 1.25rem;
$font-h1-std: 1.5rem;
$font-h1-hd: 1.75rem;

$font-btn-min: 1rem;
$font-btn-std: 1.125rem;
$font-btn-hd: 1.25rem;

$width-btn-min: $font-btn-min*13;
$height-btn-min: $font-btn-min*2.5;
$box-shadow-light-min: 0px 0px $font-btn-min*.25 0px rgba(0, 0, 0, 0.25);
$box-shadow-dark-min: 0px 0px $font-btn-min*.25 0px rgba(255, 255, 255, 0.25);
$border-btn-min: $font-btn-min*.6;

$width-btn-std: $font-btn-std*13;
$height-btn-std: $font-btn-std*2.5;
$box-shadow-light-std: 0px 0px $font-btn-std*.25 0px rgba(0, 0, 0, 0.25);
$box-shadow-dark-std: 0px 0px $font-btn-std*.25 0px rgba(255, 255, 255, 0.25);
$border-btn-std: $font-btn-std*.6;

$width-btn-hd: $font-btn-hd*13;
$height-btn-hd: $font-btn-hd*2.5;
$box-shadow-light-hd: 0px 0px $font-btn-hd*.25 0px rgba(0, 0, 0, 0.25);
$box-shadow-dark-hd: 0px 0px $font-btn-hd*.25 0px rgba(255, 255, 255, 0.25);
$border-btn-hd: $font-btn-hd*.6;

$width-img-main-std: 395px;
$width-img-main-hd: 560px;


$transition: 0.25s;

$primary-color: #000000;
$secundary-color: #ffffff;
$dark-color: #141B22;

main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 10%;
    min-height: $height-std;
    @media (min-width: 2000px) and (orientation: landscape){
        width: 1600px;
    }

    .articleLeft {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 70%;
        @media (max-width: 1023px) and (orientation: landscape){
            width: 100%;
        }
        @media (max-width: 1044px) and (orientation: portrait) {
            width: 100%;
        }
        
        .articleLeft div {
            display: flex;
            flex-direction: column;
            width: 100%;
        }

        h2{
            background: linear-gradient(270deg, #3468D3 15.33%, #5932C9 101.88%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-size:400% 400%;
            font-weight: fonts.$font-weight-bold;
            -webkit-animation:change 4s ease infinite;
            animation:change 4s ease infinite;
            font-size: $font-h2-std;
            line-height: $font-h2-std*1.2;
            padding: $font-h2-std*.3 0px; 
            @media (min-width: 1640px) and (orientation: landscape){
                font-size: $font-h2-hd;
                line-height: $font-h2-hd*1.2;
                padding: $font-h2-hd*.3 0px; 
            }
            @media (max-width: 1023px) and (orientation: landscape) and (max-height: 600px){
                font-size: $font-h2-min;
                line-height: $font-h2-min*1.2;
                padding: $font-h2-min*.3 0px;
            }
            @media (max-width: 1044px) and (orientation: portrait){
                text-align: center;
            }
            @media (max-width: 600px) and (orientation: portrait){
                font-size: $font-h2-min;
                line-height: $font-h2-min*1.2;
                padding: $font-h2-min*.3 0px;
            }
        }
        h1{
            color:$primary-color;
            font-weight: fonts.$font-weight-medium;
            font-size: $font-h1-std;
            margin-bottom: $font-h1-std;
            @media (min-width: 1640px) and (orientation: landscape){
                font-size: $font-h1-hd;
                margin-bottom: $font-h1-hd;
            }
            @media (max-width: 1023px) and (orientation: landscape) and (max-height: 600px){
                font-size: $font-h1-min;
                margin-bottom: $font-h1-min;
            }
            @media (max-width: 1044px) and (orientation: portrait){
                text-align: center;
            }
            @media (max-width: 600px) and (orientation: portrait){
                font-size: $font-h1-min;
                margin-bottom: $font-h1-min;
            }
            
        }
        a{
            @media (max-width: 1044px) and (orientation: portrait){
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        .button{
                display: flex;
                justify-content: center;
                align-items: center;
                background: linear-gradient(90deg, #3765D3,#5934CA);
                font-weight: fonts.$font-weight-medium;
                color: $secundary-color;
                border: none;
                transition: $transition;
                font-size: $font-btn-std;
                border-radius: $border-btn-std;
                width: $width-btn-std;
                height: $height-btn-std;
                box-shadow: $box-shadow-light-std;
                &:hover{
                    cursor: pointer;
                    scale: 1.1;
                }
                @media (min-width: 1640px) and (orientation: landscape){
                    font-size: $font-btn-hd;
                    border-radius: $border-btn-hd;
                    width: $width-btn-hd;
                    height: $height-btn-hd;
                    box-shadow: $box-shadow-light-hd;
                }
                @media (max-width: 1023px) and (orientation: landscape) and (max-height: 600px){
                    font-size: $font-btn-min;
                    border-radius: $border-btn-min;
                    width: $width-btn-min;
                    height: $height-btn-min;
                    box-shadow: $box-shadow-light-min;
                }
                @media (max-width: 1044px) and (orientation: portrait){
                    font-size: $font-btn-min;
                    border-radius: $border-btn-min;
                    width: $width-btn-min;
                    height: $height-btn-min;
                    box-shadow: $box-shadow-light-min;
                }
        }
        
    }
    .articleRight {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        @media (max-width: 1023px) and (orientation: landscape){
            display: none; 
        }
        @media (max-width: 1044px) and (orientation: portrait){
            display: none; 
        }
        img {
           width: $width-img-main-std;
           margin-bottom: $width-img-main-std*.25;
           @media (min-width: 1640px) and (orientation: landscape){
                width: $width-img-main-hd;
                margin-bottom: $width-img-main-hd*.25;
                
            }

        }        
    }
}

body.dark{
    .articleLeft h2 {
        background: linear-gradient(270deg, #9BB3F2 15.33%, #F0A5A4 101.88%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size:400% 400%;
    }
    .articleLeft h1{
        color: $secundary-color;
    }
    .button{
            background: linear-gradient(97.17deg, #EAA6AB 44.41%, #9BB4F3 108.93%, rgba(217, 217, 217, 0) 108.93%);
            box-shadow: $box-shadow-dark-std;
            color: $primary-color;
            @media (min-width: 1640px) and (orientation: landscape){
                box-shadow: $box-shadow-dark-hd;
            }
    }
}