@use "./fontweight" as fonts;

$font-pmin-std: 0.875rem;
$font-pmin-hd: 1rem;
$font-pmin-2k: 1.5rem;
$font-pmin-4k: 2.125rem;

$font-h3-std: 1.5rem;
$font-h3-hd: 1.75rem;
$font-h3-2k: 2.5rem;
$font-h3-4k: 3.25rem;

$width-card-std: 325px;
$height-card-std: $width-card-std*1.3;
$border-card-std: $width-card-std*0.057;
$gap-std: $width-card-std*.2;
$box-shadow-std: 0px 0px $width-card-std*.15 rgba(0, 0, 0, 0.25);

$width-card-hd: $width-card-std*1.167;
$height-card-hd: $width-card-hd*1.3;
$border-card-hd: $width-card-hd*0.057;
$gap-hd: $width-card-hd*.2;
$box-shadow-hd: 0px 0px $width-card-hd*.15 rgba(0, 0, 0, 0.25);

$width-card-2k: $width-card-std*1.5;
$height-card-2k: $width-card-2k*1.3;
$border-card-2k: $width-card-2k*0.057;
$gap-2k: $width-card-2k*.2;
$box-shadow-2k: 0px 0px $width-card-2k*.15 rgba(0, 0, 0, 0.25);

$width-card-4k: $width-card-std*2.5;
$height-card-4k: $width-card-4k*1.3;
$border-card-4k: $width-card-4k*0.057;
$gap-4k: $width-card-4k*.2;
$box-shadow-4k: 0px 0px $width-card-4k*.15 rgba(0, 0, 0, 0.25);

$width-card-min: $width-card-std*0.8;
$height-card-min: $width-card-min*1.3;
$border-card-min: $width-card-min*0.057;
$gap-min: $width-card-min*.2;
$box-shadow-min: 0px 0px $width-card-min*.15 rgba(0, 0, 0, 0.25);

$image-std: $width-card-std*.56;
$image-hd: $width-card-hd*.56;
$image-2k: $width-card-2k*.56;
$image-4k: $width-card-4k*.56;

$transition: 0.25s;

$primary-color: #000000;
$secundary-color: #ffffff;
$dark-color: #141B22;

.groupCards {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.gcards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0% 5%;
    @media (min-width: 1640px) and (orientation: landscape){
        gap: $gap-hd;
        margin-bottom: $gap-hd*2;
    }
    @media (min-width: 2240px) and (orientation: landscape){
        gap: $gap-2k;
        margin-bottom: $gap-2k*2;
    }
    @media (min-width: 3200px) and (orientation: landscape){
        gap: $gap-4k;
        margin-bottom: $gap-4k*2;
    }   
    @media (max-width: 1639px) and (orientation: landscape){
        gap: $gap-std;
        margin-bottom: $gap-std*2;
    }
    @media (max-width: 1250px) and (orientation: landscape){
        gap: $gap-min;
        margin-bottom: $gap-min*2;
    }
    @media (max-width: 600px) and (orientation: landscape){
        gap: $gap-min;
        margin-bottom: $gap-min*2;
    }
    @media (max-width: 1200px) and (orientation: portrait) {
        gap: $gap-min;
        margin-bottom: $gap-min*2;
    }
    @media (max-width: 600px) and (orientation: portrait){
        gap: $gap-min;
        margin-bottom: $gap-min*2;
    }

    .card{
        color: $primary-color;
        display: flex;
        flex-direction: column;
        border-radius: $border-card-std;
        justify-content: space-around;
        align-items:center;
        box-shadow: $box-shadow-std;
        transition: $transition;
        background: $secundary-color;
        border-radius: $border-card-std;
        width: $width-card-std;
        height: $height-card-std;
        box-shadow: $box-shadow-std;
        padding: $font-h3-std $font-h3-std*1.2;
        &:hover{
            scale: 1.05;
        }
        @media (min-width: 1640px) and (orientation: landscape){
            border-radius: $border-card-hd;
            width: $width-card-hd;
            height: $height-card-hd;
            box-shadow: $box-shadow-hd;
            padding: $font-h3-hd $font-h3-hd*1.2;
        }
        @media (min-width: 2240px) and (orientation: landscape){
            border-radius: $border-card-2k;
            width: $width-card-2k;
            height: $height-card-2k;
            box-shadow: $box-shadow-2k;
            padding: $font-h3-2k $font-h3-2k*1.2;
        }
        @media (min-width: 3200px) and (orientation: landscape){
            border-radius: $border-card-4k;
            width: $width-card-4k;
            height: $height-card-4k;
            box-shadow: $box-shadow-4k;
            padding: $font-h3-4k $font-h3-4k*1.2;
        }
        @media (max-width: 1250px) and (orientation: landscape){
            border-radius: $border-card-min;
            width: $width-card-min;
            height: $height-card-min;
            box-shadow: $box-shadow-min;
        }
        @media (max-width: 600px) and (orientation: landscape){
            border-radius: $border-card-min;
            width: $width-card-min;
            height: $height-card-min;
            box-shadow: $box-shadow-min;
        }

        @media (max-width: 1200px) and (orientation: portrait) {
            border-radius: $border-card-min;
            width: $width-card-min;
            height: $height-card-min;
            box-shadow: $box-shadow-min;
        }
        @media (max-width: 600px) and (orientation: portrait){
            border-radius: $border-card-min;
            width: $width-card-min;
            height: $height-card-min;
            box-shadow: $box-shadow-min;
        }
        img{
            width: $image-std;
            height: $image-std;
            @media (min-width: 1640px) and (orientation: landscape){
                width: $image-hd;
                height: $image-hd;
            }
            @media (min-width: 2240px) and (orientation: landscape){
                width: $image-2k;
                height: $image-2k;
            }
            @media (min-width: 3200px) and (orientation: landscape){
                width: $image-4k;
                height: $image-4k;
            }
        }

        h3 {
            font-size: $font-h3-std;
            font-weight: fonts.$font-weight-semibold;
            text-align: center;
            @media (min-width: 1640px) and (orientation: landscape){
                font-size: $font-h3-hd;
            }
            @media (min-width: 2240px) and (orientation: landscape){
                font-size: $font-h3-2k;
            }
            @media (min-width: 3200px) and (orientation: landscape){
                font-size: $font-h3-4k;
            }
            
        }
    
        p{
            font-weight: fonts.$font-weight-regular;
            text-align: center;
            font-size: $font-pmin-std;
            @media (min-width: 1640px) and (orientation: landscape){
                font-size: $font-pmin-hd;
            }
            @media (min-width: 2240px) and (orientation: landscape){
                font-size: $font-pmin-2k;
            }
            @media (min-width: 3200px) and (orientation: landscape){
                font-size: $font-pmin-4k;
            }
        }
    }
}

body.dark{

    .card{
        background: $dark-color;
        h3{
            color: $secundary-color;
        }
        p{
            color: $secundary-color;
        }
    }
}