@use "./fontweight" as fonts;


$font-p-std: 1rem;
$font-p-hd: 1.125rem;
$font-p-2k: 1.75rem;
$font-p-4k: 2.375rem;

$transition: 0.3s;

$primary-color: #261163;
$secundary-color: #C6C2D1;
$light-hover: #0085FF;
$dark-hover: #EAA6AB;
$hr-color: #98A9DD;
$hr-color-dark: #4E5E90;

.menu {
    z-index: 2;
    align-self: baseline;
    background: #C1C0ED;
    width: $font-p-std*13;
    position: absolute;
    right: 95px;
    top: 30px;
    border-radius: $font-p-std*.4;
    transform: translateY(0px);
    transition: $transition;
    transition-delay: $transition;
    @media (min-width: 1640px) and (orientation: landscape){
        width: $font-p-hd*13;
        border-radius: $font-p-hd*.4;
    }
    @media (min-width: 2240px) and (orientation: landscape){
        width: $font-p-2k*13;
        border-radius: $font-p-2k*.4;
    }
    @media (min-width: 3200px) and (orientation: landscape){
        right: calc((100vw - 3200px)/2 + 95px);
        width: $font-p-4k*13;
        border-radius: $font-p-4k*.4;
    }
    @media (max-width: 1044px) and (orientation: portrait) {
        right: 90px;
        top: 20px;
    }
    ul {
        padding: $font-p-std*.3 0;
        @media (min-width: 1640px) and (orientation: landscape){
            padding: $font-p-hd*.3 0;
        }
        @media (min-width: 2240px) and (orientation: landscape){
            padding: $font-p-2k*.3 0;
        }
        @media (min-width: 3200px) and (orientation: landscape){
            padding: $font-p-4k*.3 0;
        }
    }
    li{
        font-weight: fonts.$font-weight-medium;
        font-size: $font-p-std;
        margin: $font-p-std*.75 0;
        padding-left: $font-p-std;
        @media (min-width: 1640px) and (orientation: landscape){
            font-size: $font-p-hd;
            margin: $font-p-hd*.75 0;
            padding-left: $font-p-hd;
        }
        @media (min-width: 2240px) and (orientation: landscape){
            font-size: $font-p-2k;
            margin: $font-p-2k*.75 0;
            padding-left: $font-p-2k;
        }
        @media (min-width: 3200px) and (orientation: landscape){
            font-size: $font-p-4k;
            margin: $font-p-4k*.75 0;
            padding-left: $font-p-4k;
        }
    }
    hr{
        border: none;
        border-bottom: $hr-color $font-p-std*.125 solid;
        width: $font-p-std*2;
        @media (min-width: 1640px) and (orientation: landscape){
            border-bottom: $hr-color $font-p-hd*.125 solid;
            width: $font-p-hd*2;
        }
        @media (min-width: 2240px) and (orientation: landscape){
            border-bottom: $hr-color $font-p-2k*.125 solid;
            width: $font-p-2k*2;
        }
        @media (min-width: 3200px) and (orientation: landscape){
            border-bottom: $hr-color $font-p-4k*.125 solid;
            width: $font-p-4k*2;
        }
    }
    a {
        color: $primary-color;
        &:hover{
            cursor: pointer;
            color: $light-hover;
        }
    }
}

#menu{
    cursor: pointer;
}

.mActive {
    opacity: 0;
    transform: translateY(-500px);
    transition-delay: $transition;
}

body.dark{
    .menu {
        background: #2B385B;
        a{
            color: $secundary-color;
            &:hover{
                cursor: pointer;
                color: $dark-hover;
            }
        }
        hr{
            border-bottom: $hr-color-dark $font-p-std*.125 solid;
            @media (min-width: 1640px) and (orientation: landscape){
                border-bottom: $hr-color-dark $font-p-hd*.125 solid;
            }
            @media (min-width: 2240px) and (orientation: landscape){
                border-bottom: $hr-color-dark $font-p-2k*.125 solid;
            }
            @media (min-width: 3200px) and (orientation: landscape){
                border-bottom: $hr-color-dark $font-p-4k*.125 solid;
            }
        }
    }
}