@use "./fontweight" as fonts;

$width-card-std: 390px;
$height-card-std: $width-card-std*0.53;
$border-card-std: $width-card-std*0.025;
$gap-std: $width-card-std*.2;
$box-shadow-std: 0px 0px $width-card-std*.15 rgba(0, 0, 0, 0.25);

$width-card-hd: $width-card-std*1.167;
$height-card-hd: $width-card-hd*0.53;
$border-card-hd: $width-card-hd*0.025;
$gap-hd: $width-card-hd*.2;
$box-shadow-hd: 0px 0px $width-card-hd*.15 rgba(0, 0, 0, 0.25);

$width-card-2k: $width-card-std*1.8;
$height-card-2k: $width-card-2k*0.53;
$border-card-2k: $width-card-2k*0.025;
$gap-2k: $width-card-2k*.2;
$box-shadow-2k: 0px 0px $width-card-2k*.15 rgba(0, 0, 0, 0.25);

$width-card-4k: $width-card-std*2.5;
$height-card-4k: $width-card-4k*0.53;
$border-card-4k: $width-card-4k*0.025;
$gap-4k: $width-card-4k*.2;
$box-shadow-4k: 0px 0px $width-card-4k*.15 rgba(0, 0, 0, 0.25);

$width-card-min: $width-card-std*0.8;
$height-card-min: $width-card-min*0.53;
$border-card-min: $width-card-min*0.025;
$gap-min: $width-card-min*.2;
$box-shadow-min: 0px 0px $width-card-min*.15 rgba(0, 0, 0, 0.25);

$font-pmin-std: 0.875rem;
$font-pmin-hd: 1rem;
$font-pmin-2k: 1.5rem;
$font-pmin-4k: 2.125rem;

$font-h3-min: 1rem;
$font-h3-std: 1.25rem;
$font-h3-hd: 1.5rem;
$font-h3-2k: 2.25rem;
$font-h3-4k: 3rem;

$font-btn-std: 1rem;
$font-btn-hd: 1.25rem;
$font-btn-2k: 2rem;
$font-btn-4k: 2.625rem;

$width-btn-std: $font-btn-std*8;
$height-btn-std: $font-btn-std*2;
$border-btn-std: $font-btn-std*.3;

$width-btn-hd: $font-btn-hd*8;
$height-btn-hd: $font-btn-hd*2;
$border-btn-hd: $font-btn-hd*.3;

$width-btn-2k: $font-btn-2k*8;
$height-btn-2k: $font-btn-2k*2;
$border-btn-2k: $font-btn-2k*.3;

$width-btn-4k: $font-btn-4k*8;
$height-btn-4k: $font-btn-4k*2;
$border-btn-4k: $font-btn-4k*.3;

$primary-color: #000000;
$secundary-color: #ffffff;


.pop{
    background: linear-gradient(270deg, #4040A8 0%, #2161A7 100%);
    z-index: 10;
    position: fixed;
    color: $secundary-color;
    bottom: $width-card-std*.1;
    right: $width-card-std*.1;
    width: $width-card-std;
    height: $height-card-std;
    padding: $font-pmin-std;
    border-radius: $border-card-std;
    @media (min-width: 1640px) and (orientation: landscape){
        bottom: $width-card-hd*.1;
        right: $width-card-hd*.1;
        width: $width-card-hd;
        height: $height-card-hd;
        padding: $font-pmin-hd;
        border-radius: $border-card-hd; 
    }
    @media (min-width: 2240px) and (orientation: landscape){
        bottom: $width-card-2k*.1;
        right: $width-card-2k*.1;
        width: $width-card-2k;
        height: $height-card-2k;
        padding: $font-pmin-2k;
        border-radius: $border-card-2k; 
    }
    @media (min-width: 3200px) and (orientation: landscape){
        bottom: $width-card-4k*.1;
        right: calc((100vw - 3100px)/2);
        width: $width-card-4k;
        height: $height-card-4k;
        padding: $font-pmin-4k;
        border-radius: $border-card-4k;    
    } 
    @media (max-width: 600px) and (orientation: portrait){
        width: 100%;
        right: 0;
    } 
    div{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: $font-h3-std*1.5;
        @media (min-width: 1640px) and (orientation: landscape){
            padding-bottom: $font-h3-hd*1.5;
        }
        @media (min-width: 2240px) and (orientation: landscape){
            padding-bottom: $font-h3-2k*1.5;
        }
        @media (min-width: 3200px) and (orientation: landscape){
            padding-bottom: $font-h3-4k*1.5;
        }   
        h3{
            font-size: $font-h3-std;
            font-weight: fonts.$font-weight-semibold;
            @media (min-width: 1640px) and (orientation: landscape){
                font-size: $font-h3-hd;
            }
            @media (min-width: 2240px) and (orientation: landscape){
                font-size: $font-h3-2k;
            }
            @media (min-width: 3200px) and (orientation: landscape){
                font-size: $font-h3-4k;
            } 
            @media (max-width: 600px) and (orientation: portrait){
                font-size: $font-h3-min;
            } 
        }
        i{
            font-size: $font-btn-std;
            &:hover{
                cursor: pointer;
            }
        
        @media (min-width: 1640px) and (orientation: landscape){
            font-size: $font-btn-hd;
        }
        @media (min-width: 2240px) and (orientation: landscape){
            font-size: $font-btn-2k;
        }
        @media (min-width: 3200px) and (orientation: landscape){
            font-size: $font-btn-4k;
        } 
        }
    }
    p{
        font-size: $font-pmin-std;
        padding-bottom: $font-h3-std*2;
        font-weight: fonts.$font-weight-regular;
        @media (min-width: 1640px) and (orientation: landscape){
            font-size: $font-pmin-hd;
            padding-bottom: $font-h3-hd*2;
        }
        @media (min-width: 2240px) and (orientation: landscape){
            font-size: $font-pmin-2k;
            padding-bottom: $font-h3-2k*2;
        }
        @media (min-width: 3200px) and (orientation: landscape){
            font-size: $font-pmin-4k;
            padding-bottom: $font-h3-4k*2;
        } 
        @media (max-width: 600px) and (orientation: portrait){
            padding-bottom: $font-h3-hd*1.5;
        } 
    }
    a{
        display: flex;
        justify-content: flex-end;
        button{
            font-weight: fonts.$font-weight-medium;
            background: linear-gradient(97.17deg, #EAA6AB 44.41%, #9BB4F3 108.93%, rgba(217, 217, 217, 0) 108.93%);
            border: none;
            color: $primary-color;
            font-size: $font-btn-std;
            width: $width-btn-std;
            height: $height-btn-std;
            border-radius: $border-btn-std;
            transition: 0.25s;
            &:hover{
                cursor: pointer;
                scale: 1.05;
            }
            @media (min-width: 1640px) and (orientation: landscape){
                font-size: $font-btn-hd;
                width: $width-btn-hd;
                height: $height-btn-hd;
                border-radius: $border-btn-hd;
            }
            @media (min-width: 2240px) and (orientation: landscape){
                font-size: $font-btn-2k;
                width: $width-btn-2k;
                height: $height-btn-2k;
                border-radius: $border-btn-2k;
            }
            @media (min-width: 3200px) and (orientation: landscape){
                font-size: $font-btn-4k;
                width: $width-btn-4k;
                height: $height-btn-4k;
                border-radius: $border-btn-4k;
            } 
        }
    }
}

