@use "./fontweight" as fonts;

@mixin titleh {
    background: linear-gradient(270.97deg, #0085FF 1.08%, #4B2EFF 77.04%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: fonts.$font-weight-semibold;
    background-size:400% 400%;
    font-size: $font-h2-std;
    padding-bottom: $font-h2-std*.5;
    -webkit-animation:change 4s ease infinite;
    animation:change 4s ease infinite;
    @media (min-width: 1640px) and (orientation: landscape){
        font-size: $font-h2-hd;
        padding-bottom: $font-h2-hd*.5;
    }
    @media (max-width: 1639px) and (orientation: landscape){
        font-size: $font-h2-std;
        padding-bottom: $font-h2-std*.5;
    }
    @media (max-width: 1200px) and (orientation: portrait) {
        font-size: $font-h2-std;
        padding-bottom: $font-h2-std*.5;
    }

}

@mixin titlep {
    font-size: $font-p-std;
    font-weight: fonts.$font-weight-medium;
    color: $color-light;
    @media (min-width: 1640px) and (orientation: landscape){
        font-size: $font-p-hd;
    }
    @media (max-width: 1639px) and (orientation: landscape){
        font-size: $font-p-std;
        padding-bottom: $font-p-std*.5;
    }
    @media (max-width: 1200px) and (orientation: portrait) {
        font-size: $font-p-std;
        padding-bottom: $font-p-std*.5;
    }
}


$font-h2-std: 1.75rem;
$font-h2-hd: 2.125rem;

$font-p-std: 1.125rem;
$font-p-hd: 1.5rem;


$color-light: #000000;

.title{
    h2{
        @include titleh();
    }
    p{
        @include titlep();
    }
    padding: 0 5%;
    margin-bottom: $font-p-std*2;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    @media (min-width: 1640px) and (orientation: landscape){
        margin-bottom: $font-p-hd*2;
    }
    
}

.social{
    h2{
        @include titleh();
    }
    p{
        @include titlep();
    }


}

.clients{
    h2{
        @include titleh();
    }
    p{
        @include titlep();
    }

}

body.dark{
    .title{
        h2{
            background: linear-gradient(270.97deg, #8AC7FF 1.08%, #8C79FF 77.04%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-size:400% 400%;
        }
        p{
            color: #ffffff;
        }
    }

    .social{
        h2{
            background: linear-gradient(270.97deg, #8AC7FF 1.08%, #8C79FF 77.04%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-size:400% 400%;
        }
        p{
            color: #ffffff;
        }
    }
    .clients{
        h2{
            background: linear-gradient(270.97deg, #8AC7FF 1.08%, #8C79FF 77.04%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-size:400% 400%;
        }
        p{
            color: #ffffff;
        }
    }
}


